# Binaries
go-transport-hub
*.exe
*.dll
*.so

# Sensitive Environment Files
.env
.env.local
dev.env
build.sh

# Uploads / User Data
uploads/
t_hub_document/

# IDE / System
.vscode/
.idea/
.DS_Store

# Logs
*.log
